
 #div1{
    width:100%;
  }
  #div2{
    
    margin: 0 auto;
    width: 40%;
    display: block;
    border: 2px solid black; 
    background-color: bisque;
    border-radius: 15px;
    margin-top:5em;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
   } 
   #disease{
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;

  }  
 #fever{
    margin: 0,auto;
    width: fit-content;
    border: 3px solid black;
    border-radius: 5%;
    font-size: 60;
  }
  /* .symtomSelected{
    border: 5px solid blue;
    border-spacing: 10px;
  }  */