.health {
    width: 18em;
    font-size: 1.3em;
    border-radius: 15px;
    background: skyblue;
    color: black;
    /* outline: none; */
    /* border: 2px solid black; */
    /* height: 6vh; */
    margin-top: 2em;
    border: none;
}

#welcome:before {
	background-image: url('https://www.vmcdn.ca/f/files/shared/miscellaneous-stock-images/stethoscope-doctor-health.jpg;w=960');
	/* background-image: url('/src/images/Doctor.jpg'); */
    width: 100%;
	height: 100%;
	background-size: cover;
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	filter: blur(2px);
}
.health:hover{
    color: white;
    /* background-color:#C62128 ; */
    background-color:#E34234;
}

.title1 {
    margin-top: 20px;
}
