@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  font-family:'Montserrat', sans-serif;
}
body {
  background-color: #FFFFFF;
  margin: 0;
  font-family:'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
