form{
    height: 410px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 54%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.login-btn{
    display: block;
    height: 50px;
    width: 100%;
    /* background-color: rgba(255,255,255,0.07); */
    background-color: #FCA311;
    border-radius: 3px;
    border: 1px solid black;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    margin-top: 25px;
    border-radius: 15px;
    border: none;
}
 
/* 
.login-btn:hover{
border: 2px solid ;
} */



.login-input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    border: 1px solid black;
    padding: 0 10px;
    margin-top: 17px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 15px;
}

.login-input:hover{
    border: 2px solid #FCA311;
}

label{
    margin-top: 20px;
}